<div class="col-md-4">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    </div>

    <div class="col">
      <button id="login_btn" class="btn btn-success">Log in</button>
      <%= render 'custom_devise/shared/links' %>
    </div>
  <% end %>
</div>