doctype html
html lang="en"
  head
    title FastTicket | Report
    = wicked_pdf_stylesheet_link_tag 'pdf'
  body#ft-pdf
    h1 Report

    - if @filters.present?
      h2 Filters
      table
        thead
          tr
            th Filter
            th Value
        tbody
          - @filters.each do |name, value|
            tr
              td = name
              td = value

    h2 Results
    table
      thead
        tr
          th Title
          th Category
          th Created At
          th Support Agent
          th Requester
          th Status
      tbody
        - @report.each do |row|
          tr
            td= row[:title]
            td= row[:category]
            td= row[:created_at]
            td= row[:support_agent][:name]
            td= row[:requester][:name]
            td= row[:status][:label]
