#ft {
  #ft-nav {
    border-radius: 0;

    #title {
      color: greenyellow;
    }
  }

  .clients-main-widget {
    min-height: 300px;
  }

  #ft-ticket-title {
    color: cadetblue;
  }

  #current-client, #current-agent {
    padding-top: 12px;

    .name {
      margin: 10px;
      color: white;
    }
    a {
      margin-right: 10px;
    }
  }

  .ticket-details, .ft-tickets-list {
    p {
      font-weight: bold;
    }
    .status {
      &.new {
        color: violet;
      }
      &.processing {
        color: #4f91ff;
      }
      &.closed {
        color: #4b8068;
      }
    }
  }

  .ft-message {
    .text {
      font-style: italic;
      font-weight: bold;
    }
    .about {

    }
  }

  .ft-ticket-filters {
    background: #f3f3f3;
    padding-bottom: 21px;
  }

  .ft-table-container {
    td {
      max-width: 100px;
    }
  }

  @media(max-width: 700px) {
    .ft-xs-hide {
      display: none;
    }
  }
}
