#ft-pdf {

  h1 {
    width: 100%;
    text-align: center;
  }

  .alwaysbreak { page-break-before: always; }
  .nobreak:before { clear:both; }
  .nobreak { page-break-inside: avoid; }

  table, th, td {
    border: 1px solid #f2f2f2;
  }

  table {

    td {
      padding: 10px;
    }

    tr {
      page-break-inside: avoid;
    }
  }
}
