= content_for :js do
  = javascript_include_tag 'clients_application'

= content_for :nav do
  #current-client.pull-right
    span.name = current_client.name
    = link_to('<span class="glyphicon glyphicon-off"></span> Log out'.html_safe,
              destroy_client_session_path, method: 'delete')

= react_component 'ClientsMain', {}
