= content_for :js do
  = javascript_include_tag 'agents_application'
  javascript:
    window.CurrentAgent = { id: #{current_agent.id} };

= content_for :nav do
  #current-client.pull-right
    span.name = current_agent.name
    = link_to('<span class="glyphicon glyphicon-off"></span> Log out'.html_safe,
              destroy_agent_session_path, method: 'delete')

= react_component 'AgentsMain', {}
