doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    meta content="" name="description"
    meta content="" name="author"
    link href="/favicon.png" rel="icon"
    title FastTicket
    = stylesheet_link_tag    'application', media: 'all'
    = yield(:js)
    = csrf_meta_tags
  body#ft
    nav#ft-nav.navbar.navbar-default.navbar-inverse.fixed-top role="navigation"
      .container
        .row
          .col-md-4.col-xs-3
            .navbar-header
              a#title.navbar-brand href="/" FastTicket
          .col-md-4.col-xs-3
          .col-md-4.col-xs-6
            = yield(:nav)
    .container#main-container
      .row
        .col-md-12.ft-alert-container
      .row= yield
      hr
      footer
        p &copy; Vitaly Tarasenko
